# Querying [tmdb](https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata) movie information from aperturedb.

This notebook will work on an instance of ApertureDB, which can be on the [cloud](https://cloud.aperturedata.io), or running as a [local docker container(s)](https://docs.aperturedata.io/Setup/server/Local)

The dataset is hosted on kaggle, and available via a mlcroissant link.

In [ ]:
%pip install --quiet mlcroissant pandas dotenv

## Import all the modules needed

In [2]:
import pandas as pd
from IPython.display import display


from aperturedb.CommonLibrary import (
    execute_query,
    create_connector
)
from aperturedb.Utils import Utils

In [4]:
client=create_connector()
utils = Utils(client)
utils.summary()

================== Summary ==================
Database: graph-examples-ulrn7q84.farm0000.cloud.aperturedata.io
Version: 0.18.9
Status:  0
Info:    OK
------------------ Entities -----------------
Total entities types:    2
MOVIE
  Total elements: 4803
    Number   | budget      |      4803 (100%)
I   String   | id          |      4803 (100%)
  ! Number   | movie_id    |      4803 (100%)
    String   | overview    |      4803 (100%)
    Number   | popularity  |      4803 (100%)
    String   | title       |      4803 (100%)
PROFESSIONAL
  Total elements: 104842
    Number   | gender  |    104842 (100%)
I   Number   | id      |    104842 (100%)
    String   | name    |    104842 (100%)
---------------- Connections ----------------
Total connections types: 2
CAST
  MOVIE ====> PROFESSIONAL
  Total elements: 106257
I   Number   | cast_id    |    106257 (100%)
    String   | character  |    106257 (100%)
CREW
  MOVIE ====> PROFESSIONAL
  Total elements: 129581
  ! String   | credit_id   |    129581 (100%)
    String   | department  |    129581 (100%)
    String   | job         |    129581 (100%)
------------------ Totals -------------------
Total nodes: 109645
Total edges: 235838
=============================================

## Query time!
### Find all the movies where Tom Hanks as been a part of

In [9]:
q = [
    {
        "FindEntity": {
            "_ref": 1,
            "with_class": "PROFESSIONAL",
            "constraints": {
                "name": ["==", "Tom Hanks"]
            },
            "results": {
                "all_properties": True
            }
        }
    },
    {
        "FindEntity": {
            "_ref": 2,
            "is_connected_to": {
                "ref": 1
            },
            "with_class": "MOVIE",
            "results": {
                # "list": ["id", "title"]
                "all_properties": True
            }
        }
    }
]

_, response, _ = execute_query(client, q)

display(pd.json_normalize(response[0]["FindEntity"]["entities"]))
display(pd.json_normalize(response[1]["FindEntity"]["entities"]))

movie_ids = [e["movie_id"] for e in response[1]["FindEntity"]["entities"]]
display(movie_ids)

    _uniqueid  gender  id       name
0  8.6740.204       2  31  Tom Hanks

,_uniqueid,budget,id,movie_id,overview,popularity,title
0,7.229.204,40000000,64685,64685,"A year after his father's death, Oskar, a trou...",31.066874,Extremely Loud & Incredibly Close
1,7.379.206,26000000,9800,9800,No one would take his case until one man was w...,44.301745,Philadelphia
2,7.627.212,70000000,857,857,"As U.S. troops storm the beaches of Normandy, ...",76.041867,Saving Private Ryan
3,7.634.212,52000000,568,568,The true story of technical troubles that scut...,68.140214,Apollo 13
4,7.637.212,65000000,9489,9489,"Book superstore magnate, Joe Fox and independe...",28.540267,You've Got Mail
5,7.689.212,60000000,497,497,A supernatural tale set on death row in a Sout...,103.698022,The Green Mile
6,7.759.214,1000000,13508,13508,"In 1996, electric cars began to appear on road...",5.323184,Who Killed the Electric Car?
7,7.942.218,200000000,10193,10193,"Woody, Buzz, and the rest of Andy's toys haven...",59.995418,Toy Story 3
8,7.973.218,175000000,2698,2698,God contacts Congressman Evan Baxter and tells...,27.082182,Evan Almighty
9,7.990.218,165000000,5255,5255,When a doubting young boy takes an extraordina...,47.323228,The Polar Express
10,7.1020.220,55000000,13600,13600,"For generations, the people of the City of Emb...",23.465539,City of Ember
11,7.1084.220,35000000,140823,140823,Author P.L. Travers travels from London to Hol...,31.957947,Saving Mr. Banks
12,7.1095.220,0,5516,5516,"An eccentric, if not charming Southern profess...",23.666229,The Ladykillers
13,7.1753.234,35000000,20763,20763,A father reminisces about his childhood when h...,3.503408,Radio Flyer
14,7.2132.242,8000000,2619,2619,A successful businessman falls in love with th...,21.735068,Splash
15,7.2328.246,150000000,13448,13448,Harvard symbologist Robert Langdon investigate...,67.447636,Angels & Demons
16,7.2639.252,30000000,862,862,"Led by Woody, Andy's toys live happily in his ...",73.640445,Toy Story
17,7.2708.254,55000000,13,13,A man with a low IQ has accomplished great thi...,138.133331,Forrest Gump
18,7.2717.254,55000000,109424,109424,The true story of Captain Richard Phillips and...,52.786917,Captain Phillips
19,7.2782.254,52000000,640,640,"A true story about Frank Abagnale Jr. who, bef...",73.944049,Catch Me If You Can
20,7.2785.254,52000000,11631,11631,"Set on an idyllic Greek island, the plot serve...",30.780599,Mamma Mia!
21,7.3004.260,0,9591,9591,A Pennsylvania band scores a hit in 1964 and r...,14.885388,That Thing You Do!
22,7.3297.266,125000000,591,591,When the curator of the Louvre is found murder...,45.313197,The Da Vinci Code
23,7.3389.266,100000000,16523,16523,Max imagines running away from his mom and sai...,31.586215,Where the Wild Things Are
24,7.3406.268,30000000,59861,59861,"After losing his job, a middle-aged man reinve...",20.355458,Larry Crowne
25,7.3998.282,102000000,83542,83542,A set of six nested stories spanning time betw...,73.872343,Cloud Atlas
26,7.4040.282,90000000,863,863,"Andy heads off to Cowboy Camp, leaving his toy...",73.575118,Toy Story 2
27,7.4081.282,90000000,8358,8358,"Chuck, a top international manager for FedEx, ...",57.739713,Cast Away
28,7.4208.286,18000000,2280,2280,"A young boy, Josh Baskin makes a wish at a car...",20.716023,Big
29,7.4219.286,18000000,302688,302688,The continuing adventures of the Portokalos fa...,16.027955,My Big Fat Greek Wedding 2
30,7.4385.288,5000000,8346,8346,A young Greek woman falls in love with a non-G...,18.115566,My Big Fat Greek Wedding
31,7.4475.292,50000000,9906,9906,Fed up with being targeted by the neighborhood...,20.239061,The Ant Bully
32,7.4544.298,80000000,4147,4147,Mike Sullivan works as a hit man for crime bos...,49.078546,Road to Perdition
33,7.4659.320,40000000,11287,11287,Small-town sisters Dottie and Kit join an all-...,21.661028,A League of Their Own
34,7.4687.320,40000000,296098,296098,"During the Cold War, the Soviet Union captures...",48.445978,Bridge of Spies
35,7.4723.342,60000000,594,594,Viktor Navorski is a man without a country; hi...,57.753914,The Terminal
36,7.4726.342,75000000,6538,6538,The true story of Texas congressman Charlie Wi...,18.700310,Charlie Wilson's War
37,7.4760.342,75000000,35,35,After Homer accidentally pollutes the town's w...,46.875375,The Simpsons Movie
38,7.4768.342,120000000,920,920,"Lightning McQueen, a hotshot rookie race car d...",82.643036,Cars

[64685,
 9800,
 857,
 568,
 9489,
 497,
 13508,
 10193,
 2698,
 5255,
 13600,
 140823,
 5516,
 20763,
 2619,
 13448,
 862,
 13,
 109424,
 640,
 11631,
 9591,
 591,
 16523,
 59861,
 83542,
 863,
 8358,
 2280,
 302688,
 8346,
 9906,
 4147,
 11287,
 296098,
 594,
 6538,
 35,
 920]

### Get more info.

This response from cast and movies entities still misses the character information, because it's been encoded on the properties on connection between the 2. Let's merge that info in and get more richer details about the movies Tom Hanks has been a part of.

In [10]:
professional = pd.json_normalize(response[1]["FindEntity"]["entities"])

professional_details = []
for p in response[0]["FindEntity"]["entities"]:
    src = p["_uniqueid"]
    for m in response[1]["FindEntity"]["entities"]:
        dst = m["_uniqueid"]
        q = [{
            "FindEntity": {
                "_ref": 1,
                "with_class": "PROFESSIONAL",
                "constraints": {
                    "_uniqueid": ["==", src]
                },
                "results": {
                    "all_properties": True
                }
            }
        },
        {
            "FindEntity": {
                "_ref": 2,
                "is_connected_to": {
                    "ref": 1
                },
                "with_class": "MOVIE",
                "constraints": {
                    "_uniqueid": ["==", dst]
                },
                "results": {
                    "all_properties": True
                }
            }
        },{
            "FindConnection": {
                "src": 2,
                "dst": 1,
                "results": {
                    "all_properties": True
                }
            }
        }]
        _, responsec, _ = execute_query(client, q)
        # print(f"{response=}")

        if responsec[2]["FindConnection"]["returned"] > 0:
            c = responsec[2]["FindConnection"]["connections"][0]
            # print(f"{p['name']} has acted in {m['title']} as {c['character']}")
            # print(f"{p['name']} has contributed in {m['title']}")
            if "character" in c:
                professional_details.append(f"as character: {c['character']}")
            else:
                professional_details.append(f"as {c['job']} in {c['department']}")
            # display(pd.json_normalize(response[3]["FindConnection"]["connections"]))
display(len(professional_details))
professional['details'] = professional_details

display(professional)

39

,_uniqueid,budget,id,movie_id,overview,popularity,title,details
0,7.229.204,40000000,64685,64685,"A year after his father's death, Oskar, a trou...",31.066874,Extremely Loud & Incredibly Close,as character: Thomas Schell
1,7.379.206,26000000,9800,9800,No one would take his case until one man was w...,44.301745,Philadelphia,as character: Andrew Beckett
2,7.627.212,70000000,857,857,"As U.S. troops storm the beaches of Normandy, ...",76.041867,Saving Private Ryan,as character: Captain John H. Miller
3,7.634.212,52000000,568,568,The true story of technical troubles that scut...,68.140214,Apollo 13,as character: Jim Lovell
4,7.637.212,65000000,9489,9489,"Book superstore magnate, Joe Fox and independe...",28.540267,You've Got Mail,as character: Joe Fox
5,7.689.212,60000000,497,497,A supernatural tale set on death row in a Sout...,103.698022,The Green Mile,as character: Paul Edgecomb
6,7.759.214,1000000,13508,13508,"In 1996, electric cars began to appear on road...",5.323184,Who Killed the Electric Car?,as character: Himself
7,7.942.218,200000000,10193,10193,"Woody, Buzz, and the rest of Andy's toys haven...",59.995418,Toy Story 3,as character: Woody (voice)
8,7.973.218,175000000,2698,2698,God contacts Congressman Evan Baxter and tells...,27.082182,Evan Almighty,as Executive Producer in Production
9,7.990.218,165000000,5255,5255,When a doubting young boy takes an extraordina...,47.323228,The Polar Express,as character: Hero Boy / Father / Conductor / ...
10,7.1020.220,55000000,13600,13600,"For generations, the people of the City of Emb...",23.465539,City of Ember,as Producer in Production
11,7.1084.220,35000000,140823,140823,Author P.L. Travers travels from London to Hol...,31.957947,Saving Mr. Banks,as character: Walt Disney
12,7.1095.220,0,5516,5516,"An eccentric, if not charming Southern profess...",23.666229,The Ladykillers,as character: Professor G.H. Dorr
13,7.1753.234,35000000,20763,20763,A father reminisces about his childhood when h...,3.503408,Radio Flyer,as character: Older Mike/Narrator (uncredited)
14,7.2132.242,8000000,2619,2619,A successful businessman falls in love with th...,21.735068,Splash,as character: Allen Bauer
15,7.2328.246,150000000,13448,13448,Harvard symbologist Robert Langdon investigate...,67.447636,Angels & Demons,as character: Robert Langdon
16,7.2639.252,30000000,862,862,"Led by Woody, Andy's toys live happily in his ...",73.640445,Toy Story,as character: Woody (voice)
17,7.2708.254,55000000,13,13,A man with a low IQ has accomplished great thi...,138.133331,Forrest Gump,as character: Forrest Gump
18,7.2717.254,55000000,109424,109424,The true story of Captain Richard Phillips and...,52.786917,Captain Phillips,as character: Captain Richard Phillips
19,7.2782.254,52000000,640,640,"A true story about Frank Abagnale Jr. who, bef...",73.944049,Catch Me If You Can,as character: Carl Hanratty
20,7.2785.254,52000000,11631,11631,"Set on an idyllic Greek island, the plot serve...",30.780599,Mamma Mia!,as Executive Producer in Production
21,7.3004.260,0,9591,9591,A Pennsylvania band scores a hit in 1964 and r...,14.885388,That Thing You Do!,as character: Mr. White
22,7.3297.266,125000000,591,591,When the curator of the Louvre is found murder...,45.313197,The Da Vinci Code,as character: Robert Langdon
23,7.3389.266,100000000,16523,16523,Max imagines running away from his mom and sai...,31.586215,Where the Wild Things Are,as Producer in Production
24,7.3406.268,30000000,59861,59861,"After losing his job, a middle-aged man reinve...",20.355458,Larry Crowne,as character: Larry Crowne
25,7.3998.282,102000000,83542,83542,A set of six nested stories spanning time betw...,73.872343,Cloud Atlas,as character: Dr. Henry Goose / Hotel Manager ...
26,7.4040.282,90000000,863,863,"Andy heads off to Cowboy Camp, leaving his toy...",73.575118,Toy Story 2,as character: Woody (voice)
27,7.4081.282,90000000,8358,8358,"Chuck, a top international manager for FedEx, ...",57.739713,Cast Away,as character: Chuck Noland
28,7.4208.286,18000000,2280,2280,"A young boy, Josh Baskin makes a wish at a car...",20.716023,Big,"as character: Joshua ""Josh"" Baskin"
29,7.4219.286,18000000,302688,302688,The continuing adventures of the Portokalos fa...,16.027955,My Big Fat Greek Wedding 2,as Producer in Production
30,7.4385.288,5000000,8346,8346,A young Greek woman falls in love with a non-G...,18.115566,My Big Fat Greek Wedding,as Producer in Production
31,7.4475.292,50000000,9906,9906,Fed up with being targeted by the neighborhood...,20.239061,The Ant Bully,as Producer in Production
32,7.4544.298,80000000,4147,4147,Mike Sullivan works as a hit man for crime bos...,49.078546,Road to Perdition,as character: Michael Sullivan
33,7.4659.320,40000000,11287,11287,Small-town sisters Dottie and Kit join an all-...,21.661028,A League of Their Own,as character: Jimmy Dugan
34,7.4687.320,40000000,296098,296098,"During the Cold War, the Soviet Union captures...",48.445978,Bridge of Spies,as character: James B. Donovan
35,7.4723.342,60000000,594,594,Viktor Navorski is a man without a country; hi...,57.753914,The Terminal,as character: Viktor Navorski
36,7.4726.342,75000000,6538,6538,The true story of Texas congressman Charlie Wi...,18.700310,Charlie Wilson's War,as character: Charlie Wilson
37,7.4760.342,75000000,35,35,After Homer accidentally pollutes the town's w...,46.875375,The Simpsons Movie,as character: Himself (voice)
38,7.4768.342,120000000,920,920,"Lightning McQueen, a hotshot rookie race car d...",82.643036,Cars,as character: Woody Car (voice)

### Find 2 cast poeple. Find the movies in which they both appear (Logical AND)

Here we search for Tom Hanks and Meg Ryan. The All in the Find Connected entity means that find a set which is connected to both the cast people.

In [ ]:
from aperturedb.CommonLibrary import execute_query

q = [
    {
        "FindEntity": {
            "_ref": 1,
            "with_class": "PROFESSIONAL",
            "constraints":{
                "name": ["in", ["Tom Hanks"]]
            },
            "results": {
                "all_properties": True
                # "list": ["name", "_uniqueid"]
            }
        }
    },
    {
        "FindEntity": {
            "_ref": 2,
            "with_class": "PROFESSIONAL",
            "constraints":{
                "name": ["in", [ "Meg Ryan"]]
            },
            "results": {
                "all_properties": True
                # "list": ["name", "_uniqueid"]
            }
        }
    },
    {
        "FindEntity": {
            "is_connected_to": {
                "all": [
                {"ref": 1},
                {"ref": 2}
                ]
            },
            "with_class": "MOVIE",
            "results": {
                # "list": ["id", "title"],
                # "group_by_source": True
                "all_properties": True
            }
        }
    }
]

_, response, _ = execute_query(client, q)

pd.json_normalize(response[2]["FindEntity"]["entities"])

## We can write the same queries in SPARQL.

In [6]:
from aperturedb.SPARQL import SPARQL
import json


sparql = SPARQL(client, debug=True)
print("namespaces:", json.dumps({k: str(v) for k, v in sparql.namespaces.items()}, indent=2))

print("properties:", json.dumps({sparql.graph.qname(k): str(v)
      for k, v in sparql.properties.items()}, indent=2))

print("connections:", json.dumps({sparql.graph.qname(k): str(v)
      for k, v in sparql.connections.items()}, indent=2))

namespaces: {
  "t": "http://aperturedb.io/type/",
  "c": "http://aperturedb.io/connection/",
  "p": "http://aperturedb.io/property/",
  "o": "http://aperturedb.io/object/",
  "knn": "http://aperturedb.io/knn/",
  "MOVIE": "http://aperturedb.io/object/MOVIE/",
  "PROFESSIONAL": "http://aperturedb.io/object/PROFESSIONAL/"
}
properties: {
  "p:budget": "{'MOVIE'}",
  "p:id": "{'MOVIE', 'PROFESSIONAL'}",
  "p:movie_id": "{'MOVIE'}",
  "p:overview": "{'MOVIE'}",
  "p:popularity": "{'MOVIE'}",
  "p:title": "{'MOVIE'}",
  "p:gender": "{'PROFESSIONAL'}",
  "p:name": "{'PROFESSIONAL'}"
}
connections: {
  "c:CAST": "({'MOVIE'}, {'PROFESSIONAL'})",
  "c:CREW": "({'MOVIE'}, {'PROFESSIONAL'})"
}

### Find all the movies where Tom Hanks as been a part of

In [7]:

query = """
SELECT  ?title ?pop ?budget
WHERE {
  ?p p:name "Tom Hanks" .
  ?m c:CAST ?p .
  ?m p:title ?title ;
    p:popularity ?pop ;
    p:budget ?budget .
}
"""

results = sparql.query(query)
df = sparql.to_dataframe(results)
display(df)

                                title         pop     budget
0   Extremely Loud & Incredibly Close   31.066874   40000000
1                        Philadelphia   44.301745   26000000
2                 Saving Private Ryan   76.041867   70000000
3                           Apollo 13   68.140214   52000000
4                     You've Got Mail   28.540267   65000000
5                      The Green Mile  103.698022   60000000
6        Who Killed the Electric Car?    5.323184    1000000
7                         Toy Story 3   59.995418  200000000
8                   The Polar Express   47.323228  165000000
9                    Saving Mr. Banks   31.957947   35000000
10                    The Ladykillers   23.666229          0
11                        Radio Flyer    3.503408   35000000
12                             Splash   21.735068    8000000
13                    Angels & Demons   67.447636  150000000
14                          Toy Story   73.640445   30000000
15                       Forrest Gump  138.133331   55000000
16                   Captain Phillips   52.786917   55000000
17                Catch Me If You Can   73.944049   52000000
18                 That Thing You Do!   14.885388          0
19                  The Da Vinci Code   45.313197  125000000
20                       Larry Crowne   20.355458   30000000
21                        Cloud Atlas   73.872343  102000000
22                        Toy Story 2   73.575118   90000000
23                          Cast Away   57.739713   90000000
24                                Big   20.716023   18000000
25                  Road to Perdition   49.078546   80000000
26              A League of Their Own   21.661028   40000000
27                    Bridge of Spies   48.445978   40000000
28                       The Terminal   57.753914   60000000
29               Charlie Wilson's War   18.700310   75000000
30                 The Simpsons Movie   46.875375   75000000
31                               Cars   82.643036  120000000

### Find 2 cast people. Find the movies they have been part of.

In [8]:
query = """
SELECT  ?title ?pop ?budget
WHERE {
  ?m c:CAST [p:name "Tom Hanks"] , [p:name "Meg Ryan"] ;
    p:title ?title ;
    p:popularity ?pop ;
    p:budget ?budget .
}
"""

results = sparql.query(query)
df = sparql.to_dataframe(results)
display(df)
# print(json.dumps(sparql.input_query, indent=2))

             title        pop    budget
0  You've Got Mail  28.540267  65000000